APP_NAME=Inovaloto
APP_ENV=local
APP_KEY=base64:K97hPRwt+20Kb0nWexGLHoVczyyx81MgZ9q/5vYmuQk=
APP_DEBUG=true
APP_URL=http://127.0.0.1
SESSION_LIFETIME=720

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

MAIL_MAILER=
MAIL_SCHEME=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database
# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=
R2_REGION=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

ZETTPAY_CLIENT_ID=
ZETTPAY_CLIENT_SECRET=

EZZEBANK_CLIENT_ID=
EZZEBANK_CLIENT_SECRET=
EZZEBANK_BASE_URL=

# BANCAS
IMPERIO_SORTE_DB_CONNECTION=
IMPERIO_SORTE_DB_HOST=
IMPERIO_SORTE_DB_PORT=
IMPERIO_SORTE_DB_DATABASE=
IMPERIO_SORTE_DB_USERNAME=
IMPERIO_SORTE_DB_PASSWORD=

INOVA_LOTO_DB_CONNECTION=
INOVA_LOTO_DB_HOST=
INOVA_LOTO_DB_PORT=
INOVA_LOTO_DB_DATABASE=
INOVA_LOTO_DB_USERNAME=
INOVA_LOTO_DB_PASSWORD=
