APP_NAME=InovalotoMaster
APP_ENV=local
APP_KEY=base64:K97hPRwt+20Kb0nWexGLHoVczyyx81MgZ9q/5vYmuQk=
APP_DEBUG=true
APP_URL=http://api.master.inovaloto.com.br
JWT_SECRET_MASTER=super-secret-jwt-master-key-replace-in-prod
JWT_EXPIRY=43200 # 12 hours in seconds

DB_CONNECTION=mysql
DB_HOST=inovaloto.com.br
DB_PORT=3306
DB_DATABASE=inovalotomasterdb
DB_USERNAME=inovalotomasteruser
DB_PASSWORD=fR6Mgd2URZezvx6xm78K
